
*{
    color: white;
    font-family: sans-serif;
}


body{
    background-color: black;
}
.layer1{
    display: flex;
    justify-content: space-between;
}
#dive{
    background-color: blueviolet;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 10px;
    font-weight: 900;
}
p{
    text-align: center;
    font-weight: 900;


}
.content{
    text-align: center;
}
h1{
    background-image: radial-gradient(circle at center, white,blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.register{
    width: 100%;
    display: flex;

    justify-content: center;

}
#reg{
    background-color: blueviolet;
    height: 80px;
    width: 170px;
    border: 0;
    font-weight: 900;
    border-radius: 50px;
    text-decoration: none;
}
:hover#reg{
    color: blueviolet;
    background-color: white;
    height: 80px;
    width: 170px;
    border: 0;
    font-weight: 900;
    border-radius: 50px;

}

.content1{
  
    height: 600px;
    width: 100%; 
    border-radius: 30px;
    display: flex;
    gap: 20px;
    background-image: radial-gradient(circle at left, white ,blue);
    
}
.ourservice img{
    height: 500px;
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
   
}